*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width : 100vw;
}
#navigationBar{
    display: flex;
   justify-content: space-between;
   padding: 10px 80px;
}
#nav-ul{
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
}
#nav-ul>li{
    margin-inline: 20px;
    list-style-type:none;
    font-weight: 700;
    color : #253e4d;
}
#nav-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sec-1{
    background-image: url("./assets/Rectangle\ 20.png");
    height : 40vh;
    width : 90vw;
    background-size: 100% 100%;
    background-position: center;
    margin : auto;
  /*  background: linear-gradient(90deg, #252525 -16.65%, rgba(0, 0, 0, 0) 100%),
    url("./assets/Rectangle 20.png");*/
   color : white;
   
}
#sec-1>h3{
    color : #DC582A;
    font-family: Poppins;
font-size: 24px;
font-weight: 500;
line-height: 30px;
     padding : 40px 50px 0px;
}

#sec-1>h4{
    font-family: Poppins;
font-size: 40px;
font-weight: 700;
     padding-left : 50px;
}
#sec-1>h5{
    font-family: Poppins;
font-size: 20px;
font-weight: 500;
line-height: 25px;
     padding-left : 50px;
}
@media screen and (max-width : 500px){
    #sec-1{
        width : 160vw;
        height : 50vh;
        margin-left: 40px;
    }
    body{
        width : 180vw !important;
    }
}
@media screen and (min-width : 500px )and(max-width : 800px){
    #sec-1{
        width : 100vw;
    }
}
#sec-2{
    margin: 40px 70px;
    
}
#sec-2>p{
    font-family: Poppins;
font-size: 22px;
font-weight: 600;
line-height: 33px;
letter-spacing: 0em;
text-align: left;
color : #252525;
margin-bottom: 20px;
}
#sec-2>input{
    background-color: #f3f3f3;
    width : 100%;
    height : 30px;
    border-radius: 2px, 0px, 0px, 2px;
    border : none;
    padding-left: 20px;
    margin-bottom: 20px;
}
#sec-2>div>button{
    color : white;
    border : none;
    padding: 10px;
    border-radius: 10px;
    width : 150px;
    height : 60px;
}
#sec2-btn1{
    background-color: #eaaa00;
    margin-right: 20px;
}
#sec2-btn2{
    background-color: #c4d600;
    margin-right: 20px;
}
#sec2-btn3{
    background-color: #d6582a;
}
@media screen and (max-width : 500px){
    #sec-2>div>button{
        width : 100px;
        font-size: 9px;
    }
}

#sec-3{
    display: grid;
    grid-template-columns: 2fr 7fr;
    margin: 70px;
}
#sec3-filter>h5{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}
#sec3-filter>p{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
#sec3-filter>span{
    margin: 10px;
}
#sec3-pics{
    display: flex;
    flex-wrap: wrap;
}
.sec3-card{
    margin : 5px;
    box-shadow: 0px 3px 8px 4px #3232470D;
    border-radius : 16px;
}
.sec3-card>img{
    padding: 5px;
}
.card-in{
    padding: 10px;
}
.card-in>p{
    color : #7e7777;
}
.card-name{
    font-size: 20px;
    font-weight: 700;
}
.sec3-div1 , .sec3-div2{
    display: flex;
    justify-content: space-between;
}
.sec3-div2>p{
    color : red;
    font-weight: 400;
    font-size: 20px;
}
.sec3-div1>p>i{
    color : #fdc040;
    margin-right: 10px;
}
.sec3-div2>div>i:first-child{
     margin-right: 20px;
}
@media screen and (max-width : 500px){
    #sec-3{
       grid-template-columns: 1fr;
    }
    #sec3-filter>h5{
        display: none;
    }
    .sec3-div1>p>i{
        display: none;
    }
    .sec3-div2>div>i{
        display: none;
    }
    .s3-d1-p2{
        display: none;
    }
    #sec-3{
        margin: 50px;
    }
    .sec3-card>img{
        width : 45vw;
    }
}
@media screen and (min-width : 500px) and (max-width : 600px){
  .sec3-card>img{
    width : 30vw;
  }
  #sec-3{
       grid-template-columns: 1fr;
    }
    #sec3-filter>h5{
        display: none;
    }
    .sec3-div1>p>i{
        display: none;
    }
    .sec3-div2>div>i{
        display: none;
    }
    .s3-d1-p2{
        display: none;
    }
    #sec-3{
        margin: 50px;
    }
    #sec2-btn3{
        margin-top: 10px;
    }
}
@media screen and (min-width : 600px) and (max-width : 1000px){
    .sec3-card>img{
        width : 30vw;
    }
}
#footer{
    margin-bottom: 30px;
}
#f-div1{
    margin: 50px;
    display: flex;
    justify-content: space-between;
    align-items:start;
}
 #foot-div4{
    width : 30vw;
}
#foot-div1{
    width : 20vw;
}
#f-div1>div>p{
    color : #435866;
}
#foot-div2>h5 , #foot-div3>h5{
    font-size: 20px;
    font-weight: 500;
}

#foot-div2>p , #foot-div3>p{
    margin-top: 10px;
}
#foot-div4>p{
    margin: 10px 2px;
}
#f-div2{
    text-align: center;
}
#f-div2>img{
    margin-inline: 10px;
}
#foot-div4>input{
    padding: 5px;
    border-radius: 5px;
}
#foot-div4>button{
    /* height : 30px; */
    background-color: #509e2f;
    color : white;
    border : none;
    margin-left: 5px;
    padding : 7px;
    border-radius: 5px;
}

@media screen and (max-width : 600px){
    #foot-div2 , #foot-div3 , #foot-div4{
        display: none;
    }
    #foot-div1{
        width : 430px;
       margin: 10px;
       
    }
    #foot-div1>img{
        margin-bottom: 20px;
    }
    #f-div2{
        display: none;
    }
}

@media screen and (min-width: 700px) and (max-width : 950px){
    #foot-div4>button{
        margin-top: 10px;
    }
}